* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero,
.footer {
  background: #1f2937;
}

.hero {
  width: 80%;
  max-width: 1440px;
  height: 500px;
  margin: 0 auto;
  padding: 0;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin: 80px 50px;
}

.hero-text {
  max-width: 450px;
}

.hero-image {
  width: 400px;
  height: 200px;
}

.header-logo,
.hero-main-title {
  color: #f9faf8
}

.header-logo {
  font-size: 24px;
  font-weight: 800;
}

.hero-main-title {
  font-size: 48px;
  font-weight: 900;
}

.nav-link,
.hero-sub-text {
  font-size: 18px;
  color: #e5e7eb;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 10px 0;
}

.nav-link {
  text-decoration: none;
  margin: 0 10px;
}

.hero-button {
  background: #3882f6;
  color: white;
  border: none;
  width: 100px;
  padding: 6px 10px;
  border-radius: 8px;
  margin-top: 15px;
}