* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero,
.footer {
  background: #1f2937;
}

.hero {
  width: 80%;
  max-width: 1200px;
  height: 500px;
  margin: 0 auto;
  padding: 0;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin: 80px 50px;
}

.hero-text {
  max-width: 450px;
}

.hero-image {
  width: 400px;
  height: 200px;
}

.header-logo,
.hero-main-title {
  color: #f9faf8;
}

.header-logo {
  font-size: 24px;
  font-weight: 800;
}

.hero-main-title {
  font-size: 48px;
  font-weight: 900;
}

.nav-link,
.hero-sub-text {
  font-size: 18px;
  color: #e5e7eb;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 10px 0;
}

.nav-link {
  text-decoration: none;
  margin: 0 10px;
}

.hero-button {
  background: #3882f6;
  color: white;
  border: none;
  width: 100px;
  padding: 6px 10px;
  border-radius: 8px;
  margin-top: 15px;
}

.random-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto 0;
  width: 80%;
  max-width: 1000px;
}

.random-content-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 20px;
}

.random-content {
  display: flex;
  justify-content: center;
}

.random-content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.random-image {
  border: 2px solid #3882f6;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.random-subtext {
  width: 100px;
  text-align: center;
}

.quote {
  background: #e5e7eb;
  width: 80%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 100px 200px;
}

.quote-text{
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  text-align: right;
  font-weight: bold;
}

.call-to-action {
  max-width: 1000px;
  color: white;
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  background: #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.cta-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.cta-button {
  background: #3882f6;
  color: white;
  border: none;
  width: 100px;
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid white;
}